<footer class="site-footer mt-5">
  <div class="container py-4">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="footer-logo">ALAY AVTO 777</div>
        <p>Авто из Кореи. Рассрочка. Trade-In.<br>Кыргызстан, Бишкек</p>
        <a class="d-block" href="tel:+996500070809">📞 0500-07-08-09</a>
        <a class="d-block" href="tel:+996500222233">📞 0500-22-22-33</a>
        <a class="d-block mt-2 text-danger" href="https://wa.me/996500070809" target="_blank">WhatsApp</a>
      </div>
      <div class="col-md-4">
        <h5>Навигация</h5>
        <ul class="list-unstyled">
          <li><a href="/">Главная</a></li>
          <li><a href="/cars/">Каталог авто</a></li>
          <li><a href="/cars/add/">Добавить объявление</a></li>
          <li><a href="/favorites/">Избранное</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Услуги</h5>
        <ul class="list-unstyled">
          <li>Авто из Кореи</li>
          <li>Авто в рассрочку</li>
          <li>Банковский кредит 13-18%</li>
          <li>Trade-In</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
